@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');

body, html, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;    
    box-sizing: border-box;
}

body {
    font-family: 'Ultra', serif;
    font-size: 21px;
    line-height: 1.5;

    background-color: #fff;
    color: #494848;

}

/* Global */

h1, h2{
    font-size: 28px;
}

a{
    text-decoration: none;
    color: #4FA0AB;
    padding-right: 20px;
    transition: color 0.3s;
    font-size: 28px;
}

li{
    list-style: none;
}

a:hover{
    color:#F4737E;
}

.intro-txt{
    text-align: justify;
}

.intro-txt h1{
    color: #F4737E;
}

/* homepage style */

header{
    display: flex;
    justify-content: right;
    height: 120px;
    background-color: #FBE949;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.logo-container{
    align-self: flex-start;
}


nav{
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.pictogram-section{
    margin-top: 5%;
}

.pictogram-container{
    display: flex;
}

.pictogram-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.pictogram_text_s{
    margin: 30% 0 40% 10%;
    
}

.pictogram{
    margin-top: 5%; 
}

.pictogram_text_xl{
    margin: 50% 0 0 10%;
    
}

.collections_text{
    margin-top: 40px;
    padding: 0 15%;
} 

/* section logos container */
.logos-container{
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.logos{
    width: 50%;
} 

/* Footer */

footer{
    background-color: #FBE949;
}

.footer-items{
    display: flex;
    justify-content: space-between;
}

.social-media{
    margin-top: 2%;
}

.copy-rights{
    margin-top: 2%;
}


/* ARCHIVE */

section.container-intro-txt{
    margin-top: 12%;
}

.loading-img{
    width: 400px;
}

.archive-link{
    font-size: 16px;
}

.reuseitObject-image{
    width: 100%;
} 

.reuseitObject-container{
    margin: 15px 0;
}

#topButton{
    display: none; 
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 87px;
    right: 70px;
    cursor: pointer;

}

/* GALLERY */

/* WORKSHOP */


/* Media Query */

@media screen and (max-width: 800px){

    body{
        font-size: 16px;
    }

    h1, h2 {
        font-size: 18px;
    }

    a {
        font-size: 18px;
    }


    header{
        background: none;
        border: solid 5px #FBE949;
        height: auto;
    }

    #reuseit-logo{
        width: 50%;
    }

    .pictogram-container{
        text-align: center;
    }

    #pictogram-item{
        display: none;
    }

    .pictogram-text h1{
        margin: 20px 0 20px 0;
        color: #F4737E;
    }

    nav{
        flex-direction: column;
    }

    .logos{
        width: 25%;
    }

    #topButton {
        width: 30px;
        right: 18px;
    }

}